@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/montserrat-regular.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-style: bold;
	font-weight: 700;
	src: url("fonts/montserrat-bold.ttf");
}

html {
	font-size: 14px;
}

body {
	color: #333;
	font-family: "Montserrat";
	margin: 0;
	min-width: 300px;
}

.wrap {
	flex-wrap: wrap;
	justify-content: center;
}


.light {
	background-color: white;
	color: #333;
}

h1 {
	font-size: 2.2rem;
	margin-top: 40px;
	margin-bottom: 80px;
	font-weight: bold;
}

.logo {
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
}

.bold {
	font-weight: 600;
}

.getstarted {
	padding: 14px 20px;
}

.full {
	height: 65vh;
	min-height: 550px;
}

.hero {
	padding-top: 12vh;
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
}

.dark {
	background-image: linear-gradient(25deg, indigo, royalblue); 
	color: white;
}

.dark-simple {
	background-color: royalblue; 
	color: white;
}

.box {
	height: 100px;
	width: 100px;
}

.container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 700px;
	display: flex;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.col-1 {
	flex: 0 0 17%;
	max-width: 17%;
}

.col-2 {
	flex: 0 0 33%;
	max-width: 33%;
}

.col-3 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-4 {
	flex: 0 0 66%;
	max-width: 66%;
}

.col-5 {
	flex: 0 0 83%;
	max-width: 83%;
}

.col-center {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.navbar {
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hero img {
	width: 50%;
	min-width: 150px;
	max-width: 280px;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
	font-size: 1.4rem;
	line-height: 2rem;
}

h2 {
	font-size: 2.2rem;
	margin-bottom: 50px;
}

footer {
	padding-top: 30px;
	padding-bottom: 60px;
}

footer .logo {
	font-size: 1.2rem;
}

.valign {
	display: flex;
	align-items: center;
}

.copyright {
	font-size: 1rem;
}

.menu {
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}

a {
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
}

.navbar img {
	width: 30px;
}

.menu {
	display: block;
}

#menu-open {
	display: none;
}

#menu-open:target {
	display: block;
	position: relative;
	top: -84px;
	padding-top: 15px;
}

.terminal {
	background-color: #111;
	border-radius: 10px;
	margin: 50px auto 0;
	max-width: 550px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.terminal p {
	font-size: 1.2rem;
	color: white;
	margin: 0 10%;
	font-family: monospace;
	text-align: left;
	max-width: 100%;
}
