html {
	font-size: 2.8vh;
}

body {
	color: #333;
	font-family: sans-serif;
	margin: 0;
	min-width: 589px;
}

.light {
	background-color: white;
	color: #333;
}

h1 {
	font-size: 2rem;
	margin-bottom: 80px;
}

.logo {
	font-weight: bold;
	font-size: 1.6rem;
}

.bold {
	font-weight: 600;
}

.button {
	font-weight: 600;
	font-size: 1rem;
	padding: 14px 20px;
	text-decoration: none;
}

.full {
	height: 100vh;
	width: 100%;
}

.hero {
	padding-top: 8vh;
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
}

.dark {
	background-image: linear-gradient(25deg, indigo, royalblue); 
	color: white;
}

.box {
	height: 100px;
	width: 100px;
}

.container {
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 900px;
	display: flex;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.col-1 {
	flex: 0 0 17%;
	max-width: 17%;
}

.col-2 {
	flex: 0 0 33%;
	max-width: 33%;
}

.col-3 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-4 {
	flex: 0 0 66%;
	max-width: 66%;
}

.col-5 {
	flex: 0 0 83%;
	max-width: 83%;
}

.col-center {
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: space-between;
}

img {
	width: 220px;
}

.menu {
	justify-content: space-between;
	width: 100%;
	max-width: 520px;
	margin-left: 25px;
}

.section {
	padding-top: 150px;
	padding-bottom: 150px;
	font-size: 1.1rem;
	line-height: 2rem;
}

h2 {
	font-size: 1.8rem;
}

footer {
	padding-top: 30px;
	padding-bottom: 60px;
}

footer .logo {
	font-size: 1.2rem;
}

footer .col {
	font-size: 0.8rem;
}

.valign {
	display: flex;
	align-items: center;
}

.copyright {
	font-size: 0.9rem;
}

.menu .col {
	margin-left: 10px;
}

.menu a {
	text-decoration: none;
	font-size: 1rem;
	color: white;
	font-weight: bold;
}
